.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px){
        width: 90vw;
    }
}

.title {
    margin: 10px 0px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px){
        display: block;
    }
}

.mtop--small{
    margin-top: 20px;
}